* {
    font-family: Arial, Helvetica, sans-serif;
}

#controls {
    margin: auto;
    margin-top: 200px;
    width: min-content;
    text-align: center;
}

input {
    margin: 6px;
}

#container {
    margin: auto;
    display: grid;
}

.spotBtn {
    border: solid grey 1px;
}

.spotBtn:hover {
    border-color: black;
    border-width: 2px;
}

#gameControls {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: min-content;
}

.resetBtn {
    width: 100px;
    height: 40px;
}

.flag {
    background-color: rgb(255, 100, 0);
}

.safe {
    background-color: green;
}

.boom {
    background-color: red;
}